body{
	overflow-x: hidden;
}
.parte2{
    background-color: #A4A4A4;
    height: 70vh;
}
.text-chama{
    text-align: center;
    color: white;
}

.hero__search__form {
	margin-bottom: 30px;
	padding: 20px;
    border-radius: 5px;
    
}

.hero__search__form form input {
	width: 80%;
	float: left;
	font-size: 15px;
	color: #616161;
	padding-left: 30px;
	height: 54px;
	border: none;
}

.hero__search__form form input::-webkit-input-placeholder {
	color: #616161;
}

.hero__search__form form input::-moz-placeholder {
	color: #616161;
}

.hero__search__form form input:-ms-input-placeholder {
	color: #616161;
}

.hero__search__form form input::-ms-input-placeholder {
	color: #616161;
}

.hero__search__form form input::placeholder {
	color: #616161;
}

.hero__search__form form .select__option {
	position: relative;
	width: 22.5%;
	float: left;
	height: 54px;
}

.hero__search__form form .select__option:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 1px;
	background: #eeeeee;
	content: "";
	z-index: 1;
}

.hero__search__form form .select__option .nice-select {
	width: 100%;
	border: none;
	border-radius: 0;
	height: 54px;
	line-height: 56px;
}

.hero__search__form form .select__option .nice-select span {
	font-size: 15px;
	color: #323232;
}

.hero__search__form form .select__option .nice-select .list {
	border-radius: 0;
	margin-top: 0;
	width: 100%;
}

.hero__search__form form .select__option .nice-select:after {
	border-right: 7px solid #183456;
	border-top: 7px solid transparent;
	height: 6px;
	margin-top: 0;
	right: 18px;
	width: 10px;
	border-bottom: none;
	top: 40%;
}

.hero__search__form form button {
	width: 20%;
	height: 54px;
	border: none;
	font-size: 14px;
	font-weight: 700;
	background: #3294f0;
	color: #ffffff;
	text-transform: uppercase;
}

.category-child{
    justify-content: center;
    padding: 0 15vw;
    margin: 0;
}

.category-child .post-content span {
    color: #fff;
}

.category-child .post-content {
    color: #fff;
    margin-top: 10px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    height: 20px;
    overflow: hidden;
}

.thumb{
	background-color: #181818;
	margin: 5px;
	border-radius: 5px;
}

.thumb img {
    width: 70px;
    
}

.post-content span {
    line-height: 30px;
    position: relative;
    top: -10px;
}

h2.sessao{
	text-align: center;
	color: white;
}

.parte3{
	background-color: rgba(0, 0, 0, 0.90);
	height: 300vh;
}

.parte3 .row{
	justify-content: center;
}

.title{
	text-align: center;
}

.abas{
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	text-align: center;
}

.primeiro{
	padding: 5px;
	outline-width: 3px;
	border-radius: 15px;
	background-color: white;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	align-items: left;
}

.primeiro input{
	height: 30px;
	border: none;
	line-height: 18px;
	cursor: pointer;
	border-radius: 30px;
	background-color: green;
	color: black;
}

.segundo{
	padding: 5px;
	outline-width: 3px;
	border-radius: 15px;
	background-color: white;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	align-items: left;
}

.segundo input{
	height: 30px;
	border: none;
	line-height: 18px;
	cursor: pointer;
	border-radius: 30px;
	background-color: green;
	color: black;
}

.terceiro{
	padding: 5px;
	outline-width: 3px;
	border-radius: 15px;
	background-color: white;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	align-items: left;
}

.terceiro input{
	height: 30px;
	border: none;
	line-height: 18px;
	cursor: pointer;
	border-radius: 30px;
	background-color: green;
	color: black;
}

.pesquisa{
	background-color: rgb(44, 44, 44);
}

.titulo{
	text-align: center;
	margin-top: 30px;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.categorias{
	background-color: rgb(24, 24, 24);
}
.cat_area{
	background-color: #2c2c2c;
	margin-bottom: 20px;
	border-radius: 5px;
	justify-content: center;
}

.cat_sep{
	margin: 10px;
}

.cat_sep a{
	color: white;
	text-decoration: none;
}

.cat_sep a:hover{
	color: rgb(182, 182, 182);
	text-decoration: none;
}

.cat_card{
	display: block;
	margin: 0px;
	background-color: #5a6f83;
	max-width: 120px;
	padding: 10px;
	border-radius: 5px;
}

.cat_card:hover{
	background-color: #4b5d6e;
}

.cat_card img{
	display: block;
	max-width: 80px;
	margin: auto;
}

.cat_card h5{
	margin-top: 10px;
	text-align: center;
}

.cat_select{
	display: block;
	overflow: hidden;
	opacity: 1;
	max-height: 1000px;
  	transition: opacity 0.5s linear, max-height 0.5s 0s;
}

.cat_select.hide{
	opacity: 0;
	max-height: 0px;
}

.cat_select{
	background-color: #2c2c2c;
}

.evnt_sep{
	margin: 10px;
}

.evnt_sep a{
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.evnt_sep a:hover{
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.evnt_card{
	display: block;
	margin: 20px;
	background-color: #dadada;
	width: 300px;
	height: 500px;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.5s 0s;
}

.evnt_card:hover{
	background-color: #bebebe;
}

.evnt_card img{
	display: block;
	width: 240px;
	height: 150px;
	border-radius: 5px;
	margin: 20px auto;
}

.evnt_titulo{
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
}
.evnt_card h6{
	font-weight: bold;
	float: left;
	margin: 0px;
	margin-right: 5px;
}

.destaques{
	background-color: rgb(10, 10, 10);
	min-height: 500px;
}