
.parte2{
    background-color: rgba(0, 0, 0, 0.76);
    height: 70vh;
}
.text-chama{
    text-align: center;
    color: white;
}
form{
    padding-left: 30%;
}
.hero__search__form {
	margin-bottom: 30px;
	background: rgba(255, 255, 255, 0.1);
	padding: 20px;
    border-radius: 5px;
    
}

.hero__search__form form input {
	width: 40%;
	float: left;
	font-size: 15px;
	color: #A8A8A8;
	padding-left: 30px;
	height: 54px;
	border: none;
}

.hero__search__form form input::-webkit-input-placeholder {
	color: #A8A8A8;
}

.hero__search__form form input::-moz-placeholder {
	color: #A8A8A8;
}

.hero__search__form form input:-ms-input-placeholder {
	color: #A8A8A8;
}

.hero__search__form form input::-ms-input-placeholder {
	color: #A8A8A8;
}

.hero__search__form form input::placeholder {
	color: #A8A8A8;
}

.hero__search__form form .select__option {
	position: relative;
	width: 22.5%;
	float: left;
	height: 54px;
}

.hero__search__form form .select__option:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 1px;
	background: #eeeeee;
	content: "";
	z-index: 1;
}

.hero__search__form form .select__option .nice-select {
	width: 100%;
	border: none;
	border-radius: 0;
	height: 54px;
	line-height: 56px;
}

.hero__search__form form .select__option .nice-select span {
	font-size: 15px;
	color: #323232;
}

.hero__search__form form .select__option .nice-select .list {
	border-radius: 0;
	margin-top: 0;
	width: 100%;
}

.hero__search__form form .select__option .nice-select:after {
	border-right: 7px solid #183456;
	border-top: 7px solid transparent;
	height: 6px;
	margin-top: 0;
	right: 18px;
	width: 10px;
	border-bottom: none;
	top: 40%;
}

.hero__search__form form button {
	width: 15%;
	height: 54px;
	border: none;
	font-size: 14px;
	font-weight: 700;
	background: #f03250;
	color: #ffffff;
	text-transform: uppercase;
}

.category-child{
    justify-content: center;
    padding: 0 15vw;
    margin: 0;
}

.category-child .post-content span {
    color: #fff;
}

.category-child .post-content {
    background-color: rgba(0, 0, 0, 0.308);
    color: #fff;
    margin-top: 10px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    height: 20px;
    overflow: hidden;
}

.thumb{
	background-color: #181818;
	margin: 5px;
	border-radius: 5px;
}

.thumb img {
    width: 70px;
    
}

.post-content span {
    line-height: 30px;
    position: relative;
    top: -10px;
}

h2.sessao{
	text-align: center;
	color: white;
}

.parte3{
	background-color: rgba(0, 0, 0, 0.90);
	height: 300vh;
}

.parte3 .row{
	justify-content: center;
}

.title{
	text-align: center;
}

.abas{
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	text-align: center;
}

.primeiro{
	padding: 5px;
	outline-width: 3px;
	border-radius: 15px;
	background-color: white;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	align-items: left;
}

.primeiro input{
	height: 30px;
	border: none;
	line-height: 18px;
	cursor: pointer;
	border-radius: 30px;
	background-color: green;
	color: black;
}

.segundo{
	padding: 5px;
	outline-width: 3px;
	border-radius: 15px;
	background-color: white;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	align-items: left;
}

.segundo input{
	height: 30px;
	border: none;
	line-height: 18px;
	cursor: pointer;
	border-radius: 30px;
	background-color: green;
	color: black;
}

.terceiro{
	padding: 5px;
	outline-width: 3px;
	border-radius: 15px;
	background-color: white;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	align-items: left;
}

.terceiro input{
	height: 30px;
	border: none;
	line-height: 18px;
	cursor: pointer;
	border-radius: 30px;
	background-color: green;
	color: black;
}

